# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific files
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
